<?xml version='1.0' encoding='utf-8'?>
<widget id="GuogangLu.tabris" version="0.1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>测试应用</name> <!--填写应用名称-->
  <icon src="logo.png"/> <!--填写应用logo-->
  <splash src="logo.png"/>
  <description>
    Example Tabris.js App
  </description>
  <author email="lugang0512@gmail.com">
    luguogang
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
  <platform name="android">
    <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
      <application android:usesCleartextTraffic="true" />
    </edit-config>
  </platform>
</widget>
